
/* alignment of text and inline objects inside block objects*/
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { clear: both; text-align: center; }
.align-top    { vertical-align: top; }
.align-middle { vertical-align: middle; }
.align-bottom { vertical-align: bottom; }

/* titles */
h1.title, p.subtitle {
  text-align: center;
}
p.admonition-title,
p.topic-title,
p.sidebar-title,
p.rubric,
p.system-message-title {
  font-weight: bold;
}
h1 + p.subtitle,
h1 + p.section-subtitle {
  font-size: 1.6em;
}
h2 + p.section-subtitle { font-size: 1.28em; }
p.subtitle,
p.section-subtitle,
p.sidebar-subtitle {
  font-weight: bold;
  margin-top: -0.5em;
}
p.sidebar-title,
p.rubric {
  font-size: larger;
}
p.rubric { color: maroon; }
a.toc-backref {
  color: black;
  text-decoration: none; }

/* Warnings, Errors */
div.caution p.admonition-title,
div.attention p.admonition-title,
div.danger p.admonition-title,
div.error p.admonition-title,
div.warning p.admonition-title,
div.system-messages h1,
div.error,
span.problematic,
p.system-message-title {
  color: red;
}

/* inline literals */
span.docutils.literal {
  font-family: monospace;
  white-space: pre-wrap;
}
/* do not wraph at hyphens and similar: */
.literal > span.pre { white-space: nowrap; }

/* Lists */

/* compact and simple lists: no margin between items */
.simple  li, .compact li,
.simple  ul, .compact ul,
.simple  ol, .compact ol,
.simple > li p, .compact > li p,
dl.simple > dd, dl.compact > dd {
  margin-top: 0;
  margin-bottom: 0;
}

/* Table of Contents */
div.topic.contents { margin: 0; }
div.topic.contents ul {
  list-style-type: none;
  padding-left: 1.5em;
}

/* Enumerated Lists */
ol.arabic     { list-style: decimal }
ol.loweralpha { list-style: lower-alpha }
ol.upperalpha { list-style: upper-alpha }
ol.lowerroman { list-style: lower-roman }
ol.upperroman { list-style: upper-roman }

dt span.classifier { font-style: italic }
dt span.classifier:before {
  font-style: normal;
  margin: 0.5em;
  content: ":";
}

/* Field Lists and drivatives */
/* bold field name, content starts on the same line */
dl.field-list > dt,
dl.option-list > dt,
dl.docinfo > dt,
dl.footnote > dt,
dl.citation > dt {
  font-weight: bold;
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 0.5em;
}
/* Offset for field content (corresponds to the --field-name-limit option) */
dl.field-list > dd,
dl.option-list > dd,
dl.docinfo > dd {
  margin-left:  9em; /* ca. 14 chars in the test examples */
}
/* start field-body on a new line after long field names */
dl.field-list > dd > *:first-child,
dl.option-list > dd > *:first-child
{
  display: inline-block;
  width: 100%;
  margin: 0;
}
/* field names followed by a colon */
dl.field-list > dt:after,
dl.docinfo > dt:after {
  content: ":";
}

/* Bibliographic Fields (docinfo) */
pre.address { font: inherit; }
dd.authors > p { margin: 0; }

/* Option Lists */
dl.option-list { margin-left: 40px; }
dl.option-list > dt { font-weight: normal; }
span.option { white-space: nowrap; }

/* Footnotes and Citations  */
dl.footnote.superscript > dd {margin-left: 1em; }
dl.footnote.brackets > dd {margin-left: 2em; }
dl > dt.label { font-weight: normal; }
a.footnote-reference.brackets:before,
dt.label > span.brackets:before { content: "["; }
a.footnote-reference.brackets:after,
dt.label > span.brackets:after { content: "]"; }
a.footnote-reference.superscript,
dl.footnote.superscript > dt.label {
  vertical-align: super;
  font-size: smaller;
}
dt.label > span.fn-backref { margin-left: 0.2em; }
dt.label > span.fn-backref > a { font-style: italic; }

/* Line Blocks */
div.line-block { display: block; }
div.line-block div.line-block {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
}

/* Figures, Images, and Tables */
.figure.align-left,
img.align-left,
object.align-left,
table.align-left {
  margin-right: auto;
}
.figure.align-center,
img.align-center,
object.align-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
table.align-center {
  margin-left: auto;
  margin-right: auto;
}
.figure.align-right,
img.align-right,
object.align-right,
table.align-right {
  margin-left: auto;
}
/* reset inner alignment in figures and tables */
/* div.align-left, div.align-center, div.align-right, */
table.align-left, table.align-center, table.align-right
{ text-align: inherit }

/* Admonitions and System Messages */
div.admonition,
div.system-message,
div.sidebar{
  margin: 40px;
  border: medium outset;
  padding-right: 1em;
  padding-left: 1em;
}

/* Sidebar */
div.sidebar {
  width: 30%;
  max-width: 26em;
  float: right;
  clear: right;
}

/* Text Blocks */
blockquote,
div.topic,
pre.literal-block,
pre.doctest-block,
pre.math,
pre.code {
  margin-left: 1.5em;
  margin-right: 1.5em
}
pre.code .ln { color: gray; } /* line numbers */

/* Tables */
table { border-collapse: collapse; }
td, th {
  border-style: solid;
  border-color: silver;
  padding: 0 1ex;
  border-width: thin;
}
td > p:first-child, th > p:first-child { margin-top: 0; }
td > p, th > p { margin-bottom: 0; }

table > caption {
  text-align: left;
  margin-bottom: 0.25em
}

table.borderless td, table.borderless th {
  border: 0;
  padding: 0;
  padding-right: 0.5em /* separate table cells */
}

/* Line Blocks */
div.line-block {
    line-height: 120%;
}
div.line-block div.line-block {
    line-height: 120%;
}

/*********************************************
 * COLUMNS
 *********************************************/

.column-50 {
    width: 49%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-33 {
    width: 33%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-66 {
    width: 66%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-25 {
    width: 24%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-50 {
    width: 49%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-33 {
    width: 33%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-66 {
    width: 66%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-25 {
    width: 24%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-62 {
    width: 61%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-38 {
    width: 38%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-main {
    width: 61%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-side {
    width: 38%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.column-left {
    width: 49%;
    float: left;
    vertical-align: top;
}

.column-right {
    width: 50%;
    float: right;
    vertical-align: top;
}

/*********************************************
 * SLIDES
 *********************************************/
.reveal .slides>section,
.reveal .slides>section>section {
	padding: 0px 0px;
}

.reveal img.align-right {
    border: none;
    box-shadow: none;
}

.reveal img.align-left {
    border: none;
    box-shadow: none;
}

.reveal img.align-center {
    border: none;
    box-shadow: none;
}

/*********************************************
 * VIDEOS
 *********************************************/

.reveal video {
    display: inline;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
}


/*********************************************
 * CODE
 *********************************************/
.reveal pre {
    box: none;
    box-shadow: none;
}

/*********************************************
 * LISTS
 *********************************************/
.reveal ul {
    margin-top: 0.75ex;
    margin-bottom: 0.75ex;
}
.reveal ol {
    margin-top: 0.75ex;
    margin-bottom: 0.75ex;
}
.reveal li {
    margin-top: 0.75ex;
    margin-bottom: 1.0ex;
    padding-top: 0ex;
    padding-bottom: 0ex;
    line-height: 120%;
}
.reveal li li {
    margin-top: 0.75ex;
    margin-bottom: 0.75ex;
    padding-top: 0ex;
    padding-bottom: 0ex;
    line-height: 120%;
}

.reveal .tight li {
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    padding-top: 0ex;
    padding-bottom: 0ex;
    line-height: 100%;
}

.reveal .tight li li {
    margin-top: 0ex;
    margin-bottom: 0ex;
    padding-top: 0ex;
    padding-bottom: 0ex;
    line-height: 110%;
}

.reveal .extratight li {
    margin-top: 0ex;
    margin-bottom: 0ex;
    padding-top: 0ex;
    padding-bottom: 0ex;
    line-height: 100%;
}

.reveal .extratight li li {
    margin-top: 0ex;
    margin-bottom: 0ex;
    padding-top: 0ex;
    padding-bottom: 0ex;
    line-height: 100%;
}

.reveal em {
    color: #22A;
}


/*********************************************
 * SLIDE NUMBER
 *********************************************/
#slide-number {
    margin: 10px auto;
    display: inline;
    float:right;
}

/*********************************************
 * GLOBAL
 *********************************************/
.reveal {
  font-family: Lucida, Arial, Helvetica;
  font-size: 26px;
  font-weight: normal;
  color: #333333; }


/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
    color: #22A;
}

.reveal h1 {
    margin: 100px 0 60px 0;
    line-height: 1.2em;
    font-size: 220%;
    font-weight: bold;
}
.reveal h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
    font-size: 150%;
    font-weight: bold;
    line-height: 1.2em;
}

.reveal h3 {
    line-height: 0.9em;
    font-size: 140%;
}

.reveal h1,
.reveal h3,
.reveal .titleslide {
  text-align: center;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #555;
  text-decoration: underline; }

.reveal a:not(.image):hover {
  color: #555;
  text-shadow: none;
  border: none; }

/*********************************************
 * IMAGES
 *********************************************/

.reveal img.align-right {
    margin-top: 1ex;
    margin-bottom: 1ex;
    margin-left: 1ex;
}

.reveal img.align-left {
    margin-top: 1ex;
    margin-bottom: 1ex;
    margin-right: 1ex;
}

.reveal img.align-center {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/*********************************************
 * CODE
 *********************************************/
.reveal pre {
    width: 90%;
    background: #eeeeee;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    font-family: 'Courier New';
}
.reveal tt {
    background: transparent;
    font-family: 'Courier New';
}
.reveal table.highlighttable {
    width: 100%;
}
.reveal td.linenos {
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
    border-width: thin;
    border-color: #eeeeee;
}
.reveal div.linenodiv pre{
    background: transparent;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: right;
    border-width: thin;
    border-color: #eeeeee;
}
.reveal td.code {
    width: 100%;
    padding-left: 0px;
    border-width: 0px;
}

/*********************************************
 * SUBSCRIPTS
 *********************************************/
.reveal sub {
    font-size: 80%;
}
.reveal sup {
    font-size: 80%;
}


/*********************************************
 * MATH
 *********************************************/
.reveal .math {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*********************************************
 * TOPIC
 *********************************************/
.reveal .topic {
    margin: 0 auto;
    display: block;
    float: center;
    width: 90%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: #ddd;
}
.reveal .topic-title {
    font-weight: bold;
    color: #555;
}

/*********************************************
 * SIDEBAR
 *********************************************/
.reveal .sidebar {
    display: block;
    float: right;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #ddd;
    width: 47%;
}
.reveal .sidebar.right {
    float: right;
    margin-right: 0px;
    text-align: left;
}
.reveal .sidebar.left {
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    text-align: left;
}
.reveal .sidebar.center {
    float: center;
}
.reveal .sidebar-title {
    font-weight: bold;
    color: #555;
}
.reveal .sidebar-subtitle {
    text-align: left;
    font-weight: italic;
    font-size: 80%;
    color: #555;
}

/*********************************************
 * CITATIONS
 *********************************************/
.reveal .epigraph {
    margin-top: 10px;
    padding-top: 10px;
    background: #ddd;
    border: none;
}
.reveal blockquote {
    border: none;
}

/*********************************************
 * FOOTER
 *********************************************/
footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   background: transparent;
   text-align: center;
   padding: 5px 5px 5px 5px;
   font-size: 16px;
   font-family: Arial, Helvetica;
   font-weight: normal;
   color: #555;
}

/*********************************************
 * ADMONITIONS
 *********************************************/
div.caution p.admonition-title,
div.attention p.admonition-title,
div.danger p.admonition-title,
div.error p.admonition-title,
div.warning p.admonition-title,
div.system-messages h1,
div.error,
span.problematic,
p.system-message-title {
  color: red;
}

.reveal .note,
.reveal .caution,
.reveal .warning,
.reveal .seealso {
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 90%;
}
.reveal .note {
    background: #ddf;
}
.reveal .caution,
.reveal .warning {
    background: #fdd;
}
.reveal .seealso {
    background: #dfd;
}
.reveal .admonition-title {
    font-weight: bold;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #000; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #000; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #000; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #000; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #333; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #333; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #333; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #333; }

.reveal .controls div.navigate-left.fragmented {
  opacity: 0.5;
}
.reveal .controls div.navigate-right.fragmented {
  opacity: 0.5;
}
.reveal .controls div.navigate-up.fragmented {
  opacity: 0.5;
}
.reveal .controls div.navigate-down.fragmented {
  opacity: 0.5;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #000;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }




/*********************************************
 * Default plugin css
 *********************************************/
div .slide-menu-button {
    text-align: right;
}

.reveal div.slide-menu-button {
    right: 1vh;
    left: unset;
    top: unset;
    bottom: 1vh;
    opacity: 0.1;
}

#toc-progress-footer
{
	opacity: 1;
	transition: opacity 800ms ease-in-out;
	position: fixed;
	bottom: 3px;
	//height: 9.5vh;
	z-index: 20;
	width: 100%;
	font-size: 3vh;
	text-align: center;
	white-space: nowrap;
	padding-top: 0vh;
	padding-bottom: 0vh;
}

/* Bottom position for the TOC-Progress footer when progress bar is visible */

div.progress[style="display: block;"] ~ #toc-progress-footer
{
	bottom: 3px;
}

/* Bottom position for the TOC-Progress footer when progress bar is not visible */

#toc-progress-footer
{
    background-color: #88F;
	bottom: 0px;
}

/* Make TOC-Progress invisible if explicitly indicated */

.no-toc-progress #toc-progress-footer
{
	opacity: 0;
	transition: opacity 800ms ease-in-out;
}

/* Make TOC-Progress invisible in overview mode */

.overview #toc-progress-footer
{
	opacity: 0;
	transition: opacity 800ms ease-in-out;
}

/* Position and styles for the left part (main sections) of the TOC-Progress */

#toc-progress-footer-main
{
    background-size: contain;
    background-repeat: no-repeat;
	width: 100%;
	height: 2em;
	float: left;
	overflow: hidden;
	letter-spacing: 0em;
	//padding-right: 10em;
}

/* To insert a logo in the footer, add this to your presentation */
/*
:css_embedd-list-add:
    #toc-progress-footer-main
    {
       background-image: url("logo.svg");  
    }
*/

#toc-progress-footer-main-inside
{
	float: right;
	margin-right: 3em;
}

#toc-progress-footer-main-inside ul {
    //height: 2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    //background-color: #333333;
}

#toc-progress-footer-main-inside li {
    float: left;
    height: 2em;
    margin: 0px;
}

#toc-progress-footer-main-inside a {
    display: block;
    vertical-align: middle;
    color: rgb(0,53,98);
    //color: white;
    //background-color: #FFFFFF;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 2em;
    //margin: 6px;
    text-decoration: none;
}

/* Position and styles for the right part (subsections) of the TOC-Progress */
#toc-progress-footer-secondary
{
	width: 50%;
	height: 100%;
	float: right;
	overflow: hidden;
	letter-spacing: 0em;
	display: none;
}

#toc-progress-footer-secondary-inside
{
	float: left;
	margin-left: 2em;
}

.reveal .strikeout {
    text-decoration: line-through;
}

.reveal .clear {
    clear: both;
}

/*
.slides .center {
    display: block;
    text-align: center;
}

.slides .left {
    display: block;
    text-align: left;
}

.slides .right {
    display: block;
    text-align: right;
}
*/
.reveal p {
    line-height: 120%;
    margin-top: 0ex;
    margin-bottom: 1ex;
}

.reveal pre {
    margin-top: 0ex;
    margin-bottom: 2ex;
    padding-top: 1ex;
    padding-bottom: 1ex;
}
.reveal .titleslide a {
    color: inherit;
}
.reveal .titleslide a:hover {
    color: inherit;
}

.reveal .black {
    color: black;
}

.reveal .gray {
    color: gray;
}

.reveal .silver {
    color: silver;
}

.reveal .white {
    color: white;
}

.reveal .maroon {
    color: maroon;
}

.reveal .red {
    color: red;
}

.reveal .magenta {
    color: magenta;
}

.reveal .fuchsia {
    color: fuchsia;
}

.reveal .pink {
    color: pink;
}

.reveal .orange {
    color: orange;
}

.reveal .yellow {
    color: yellow;
}

.reveal .lime {
    color: lime;
}

.reveal .green {
    color: green;
}

.reveal .olive {
    color: olive;
}

.reveal .teal {
    color: teal;
}

.reveal .cyan {
    color: cyan;
}

.reveal .aqua {
    color: aqua;
}

.reveal .blue {
    color: blue;
}

.reveal .navy {
    color: navy;
}

.reveal .purple {
    color: purple;
}

.reveal .huge {
    font-size: 200%
}

.reveal .big {
    font-size: 150%
}

.reveal .small {
    font-size: 70%
}

.reveal .tiny {
    font-size: 50%
}

/* Pre elements are automatically small */
.reveal pre {
    font-size: 70%
}

.reveal pre.small {
    font-size: 50%
}

.reveal pre.tiny {
    font-size: 25%
}

td, th {
  border-style: solid;
  border-color: silver;
  padding: 0 1ex;
  border-width: thin;
  line-height: 120%;
}

.slide-menu-button .fas.fa-bars {
  width: 4vh;
  height: 4vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 80' width='40' height='40'><rect width='100' height='20'></rect><rect y='30' width='100' height='20'></rect><rect y='60' width='100' height='20'></rect></svg>");
  display: block;
}

.slide-menu-wrapper .slide-menu .slide-menu-toolbar {
    height: 0px;
}

.slide-menu .fas.fa-images {
    width: 0em;
    height: 0em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='100' height='100'><rect x='10' y='10' width='80' height='80' stroke='white' fill-opacity='0' stroke-width='3'></rect></svg>");
  display: inline-block;
}

.slide-menu .fas.fa-times {
     width: 0em;
    height: 0em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='100' height='100'><circle cx='50' cy='50' r='40' stroke='white' fill-opacity='0' stroke-width='3' /></svg>"); 
  display: inline-block;
}

.slide-menu .fas.fa-check-circle {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><circle cx='20' cy='18' r='16' stroke='white' fill-opacity='0' stroke-width='3' /></svg>");
  display: inline-block;
}

.slide-menu .far.fa-circle {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><circle cx='20' cy='18' r='16' stroke='white' fill-opacity='0' stroke-width='3' /></svg>");
  display: inline-block;
}

.slide-menu .fas.fa-arrow-alt-circle-right {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><circle cx='20' cy='18' r='16' stroke='white' fill='white' fill-opacity='1' stroke-width='3' /></svg>");
  display: inline-block;
}

.slide-menu-wrapper .slide-menu-toolbar {
    display: none;
}

.slide-menu-wrapper .slide-menu-panel {
    height: 100%;
}
